body{
    margin: 0;
    overflow-x: hidden;
}

body > div{
    height: 0.5vh;
    background-color: rgb(255, 202, 16);
}

body:nth-child(3){
    height: 0.5vh;
    background-color: rgb(255, 202, 16);
}
header{
    display: flex;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(18, 9, 0);
    height: 17vh;    
}

/* header input{
    display: none;
} */

header nav{
    display: none;
}

#organizacao{
    display: flex;
    margin: 0 25px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#hamburguer{
    margin-top: 20px;
    height: 50px;
    width: 40px;
}

#hamburguer img{
    /* margin: 50px 25px 0 0; */
    height: 50px;
    width: 40px
}

/* #busca img{
    margin: 50px 0 0 25px;
    height: 23px;
} */

header h1{
    display: flex;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    color: white;
    font-family: 'Copse', serif;
    font-size: 20pt;
    align-items: flex-end;
    justify-content: center;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* margin: 40px 0px 0 25px; */
}

#logo img{
    height: 12vh;
    margin-top: 4px;
}


.capa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
}

.capa img{
    width: 100vw;
    max-height: 82vh;
}

#final{
    margin: 0;
    background-color: rgb(255, 202, 16);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#final div{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#somos{
    width: 50px;
}

#inscreva{
    width: 40px;
}

#final h2, h3{
    font-family: 'Encode Sans Condensed', sans-serif;
    color: rgb(18, 9, 0);
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    margin: 15px;
}

#final p{
    font-family: 'Encode Sans Condensed', sans-serif;
    color: rgb(18, 9, 0);
    font-size: 8pt;
    text-align: center;
}

#final input{
    margin: 20px 0 0 0;
    padding: 0;
    border: 0;
    height: 20px;
    width: 110px;
    font-size: 8pt;
    text-align: center;
    border-radius: 10%;
}

#final button{
    background-color: rgb(18, 9, 0);
    color: white;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 10pt;
    border: 0;
    width: 50px;
    height: 20px;
    border-radius: 10%;
    margin-bottom: 10px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(18, 9, 0);
    height: 80px;
}

footer h6{
    display: none;
    font-family: 'Encode Sans Condensed', sans-serif;
    color:white;
    font-size: 20pt;
}
#redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botao1{
    display: block;
    background-image: url(imagens/botao-fbpb.png);
    width: 45px;
    height: 60px;
    background-color: white;
    border: none;
    margin: 0 22px;
}

.botao1:hover{
    display: block;
    background-image: url(imagens/botao-fb.png);
    width: 45px;
    height: 60px;
    background-color: white;
    border: none;
    margin: 0 22px;
}

.botao2{
    display: block;
    background-image: url(imagens/botao-igpb.png);
    width: 60px;
    height: 60px;
    background-color: white;
    border: none;
    margin: 0 22px;
}

.botao2:hover{
    display: block;
    background-image: url(imagens/botao-ig.png);
    width: 60px;
    height: 60px;
    background-color: white;
    border: none;
    margin: 0 22px;
}

.botao3{
    display: block;
    background-image: url(imagens/botao-wpppb.png);
    width: 50px;
    height: 60px;
    background-color: white;
    border: none;
    margin: 0 22px;
}

.botao3:hover{
    display: block;
    background-image: url(imagens/botao-wpp.png);
    width: 50px;
    height: 60px;
    background-color: white;
    border: none;
    margin: 0 22px;
}

p{
    margin: 4px;
}

.types{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#primeira{
    display: flex;
}

.troca{
    width: 4%;
}

.nomes p{
    font-family: 'Encode Sans Condensed', sans-serif;
    color: rgb(18, 9, 0);
    font-size: 12pt;
    font-weight: bold;
}
#vitrine{
    margin: 10px 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 92%;
}

@media (min-width: 650px) and (max-width: 825px){
    .types{
        margin: 0 20px;
    }
}
@media (min-width: 825px) and (max-width: 925px){
    .types{
        margin: 0 35px;
    }
}
@media (min-width: 925px) and (max-width: 1090px){
    .types{
        margin: 0 51px;
    }
}

.nomes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}

#menu{
    display: flex;
    margin: 5px;
    justify-content: center;
}

.num{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0.5%;
    width: 30px;
    height: 30px;
}

#segunda{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.banner{
    display: flex;
    width: 100vw;
    background-color: gray;
    align-items: center;
    animation-name: mover;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.img100{
    margin: 0 2%;
}

@keyframes mover{
    0%{transform: translate(0)}
    10%{transform: translate(0)}
    16.5%{transform: translate(-100vw)}
    26.5%{transform: translate(-100vw)}
    33%{transform: translate(-200vw)}
    43%{transform: translate(-200vw)}
    49.5%{transform: translate(-300vw)}
    59.5%{transform: translate(-300vw)}
    66%{transform: translate(-400vw)}
    76%{transform: translate(-400vw)}
    82.5%{transform: translate(-500vw)}
    99%{transform: translate(-500vw)}
    100%{transform: translate(0)}
}

h4{
    font-size: 20pt;
    width: 100vw;
    padding: 0 0 0 5px;
    margin: 20px 0;
}

section .banner{
    display: flex;
    flex-direction: column;
}

.texto{
    display: flex;
    width: 85vw;
    margin: 0 0 2% 2%;
}

#segunda p{
    font-family: 'Encode Sans Condensed', sans-serif;
    color: rgb(18, 9, 0);
    font-size: 9pt;
    text-align: justify;
}

@keyframes cor{
    0%{
        background-color: aquamarine;
    }
    10%{
        background-color: yellow
    }
    90%{
        background-color: yellow
    }
    100%{
        background-color: aquamarine;
    }
}
.img100 img{
    height: 100px;
    width: 100px;
}

#menu .um{
    animation-name: cor1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
} 

#menu .dois{
    animation-name: cor2;
    animation-duration: 30s;
    animation-iteration-count: infinite;
} 
#menu .tres{
    animation-name: cor3;
    animation-duration: 30s;
    animation-iteration-count: infinite;
} 
#menu .quatro{
    animation-name: cor4;
    animation-duration: 30s;
    animation-iteration-count: infinite;
} 
#menu .cinco{
    animation-name: cor5;
    animation-duration: 30s;
    animation-iteration-count: infinite;
} 
#menu .seis{
    animation-name: cor6;
    animation-duration: 30s;
    animation-iteration-count: infinite;
} 

@keyframes cor1{
    0%{background-color: yellow}
    10%{background-color: yellow}
    16.5%{background-color: aquamarine}
    100%{background-color: aquamarine}
}
@keyframes cor2{
    0%{background-color: aquamarine}
    10%{background-color: aquamarine}
    16.5%{background-color: yellow}
    26.5%{background-color: yellow}
    33%{background-color: aquamarine}
    100%{background-color: aquamarine}
}
@keyframes cor3{
    0%{background-color: aquamarine}
    26.5%{background-color: aquamarine}
    33%{background-color: yellow}
    43%{background-color: yellow}
    49.5%{background-color: aquamarine}
    100%{background-color: aquamarine}
}
@keyframes cor4{
    0%{background-color: aquamarine}
    43%{background-color: aquamarine}
    49.5%{background-color: yellow}
    59.5%{background-color: yellow}
    66%{background-color: aquamarine}
    100%{background-color: aquamarine}
}
@keyframes cor5{
    0%{background-color: aquamarine}
    59.5%{background-color: aquamarine}
    66%{background-color: yellow}
    76%{background-color: yellow}
    82.5%{background-color: aquamarine}
    100%{background-color: aquamarine}
}
@keyframes cor6{
    0%{background-color: aquamarine}
    76%{background-color: aquamarine}
    82.5%{background-color: yellow}
    99%{background-color: yellow}
    100%{background-color: aquamarine}
}

@media (min-width: 645px){
    #final h2, h3{
        font-size: 22pt;
    }
    
    #final p{
        font-size: 11pt;        
    }
    #final div{
        width: 35%;
    }
    #final{
        justify-content: space-evenly;
    }
    
    #final input{
        width: 130px;
        height: 30px;
        font-size: 10pt;
    }
    
    #final button{
        background-color: rgb(7, 5, 2);
        font-size: 10pt;
        border: 0;
        width: 70px;
        height: 30px;
    }
}

@media (min-width: 730px){
    #hamburguer{
        display:none;
    }
    header nav{
        display: block;
    }
    header nav a{
        color: white;
        font-family: 'Encode Sans Condensed', sans-serif;
        font-size: 12pt;
        text-decoration: none;
        margin: 0 1vw;
    }
    header h1{
        font-size: 26pt;
    }
    #organizacao{
        margin: 0 50px 0 55px;
    }
    footer h6{
        display:block;
        margin:0;
    }
    footer{
        display:flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media (min-width: 1080px){
    header nav a{
        font-size: 15pt;
        text-decoration: none;
        margin: 0 1.5vw;
    }
    header h1{
        font-size: 32pt;
    }
    #final h2, h3{
        font-size: 25pt;
    }
    
    #final p{
        font-size: 12pt;        
    }
    #final div{
        width: 30%;
    }
    #final{
        justify-content: space-evenly;
    }
    #final input{
        width: 150px;
        height: 35px;
        font-size: 11pt;
    }
    #final button{
        background-color: rgb(7, 5, 2);
        font-size: 11pt;
        border: 0;
        width: 80px;
        height: 35px;
    }
}
